{% extends "layout1.html" %}
{% block body %}

<!-- Settings -->
<section id="intro" class="intro">
    <div class="intro-content">
        <div class="container">
            <div class="row">

                <h3 style="color:blue"><u>Setting's Option</u></h3>

                <a href="/secsetting" style="color:mediumslateblue">Security Settings</a>
                <br>
                <a href="/DocProfile" style="color:darkblue">Profile Editting</a>
                <br>
                <a href="/dpassword" style="color:mediumslateblue">Password Editting</a>
                <br>
                <a href="/pricing" style="color: darkblue">Pricing Editting</a>


            </div>
        </div>
    </div>
</section>

<!-- /Settings -->
{% endblock %}