{% extends "layout1.html" %}
{% block body %}

<!-- Vieos -->
<section id="intro" class="intro">
    <div class="intro-content">
        <div class="container">
            <div class="row">
                <form  method=post enctype=multipart/form-data>

                    <input type="submit" value="Add Video" class="btn btn-primary ">
                    <br><br>
                    Available Videos :



                </form>
            </div>
        </div>
    </div>
</section>

<!-- /Settings -->
{% endblock %}