{% extends "layout1.html" %}
{% block body %}




<!-- Section: pricing -->
<section id="pricing" class="home-section bg-gray paddingbot-60">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow lightSpeedIn" data-wow-delay="0.1s">
                    <div class="section-heading text-center">
                        <h2 class="h-bold">Health packages</h2>
                        <p>Take charge of your health today with our specially designed health packages</p>
                    </div>
                </div>
                <div class="divider-short"></div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <form>
            <div class="col-sm-4 pricing-box">
                <div class="wow bounceInUp" data-wow-delay="0.1s">
                    <div class="pricing-content general">
                        <span><h2>Basic Fit 1 Package</h2></span>
                        <span><h3>Rs.350<span>/ one time</span></h3></span>
                        <ul>
                            <li><span>Anthropometry (BMI, WH Ratio)</span> <i class="fa fa-check icon-success"></i></li>
                            <li><span>Post Examination Review </span><i class="fa fa-check icon-success"></i></li>
                            <li><span>General Screening – Basic </span><i class="fa fa-check icon-success"></i></li>
                            <li><span><del>Health Screening Report</del></span> <i class="fa fa-times icon-danger"></i></li>
                            >
                        </ul>

                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin btn-lg">Edit</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 pricing-box featured-price">
                <div class="wow bounceInUp" data-wow-delay="0.3s">
                    <div class="pricing-content featured">
                        <span><h2>Golden Glow Package</h2></span>
                        <span><h3>Rs.640<span>/ one time</span></h3></span>
                        <ul>
                            <li><span>Anthropometry (BMI, WH Ratio) </span><i class="fa fa-check icon-success"></i></li>
                            <li><span>Post Examination Review </span><i class="fa fa-check icon-success"></i></li>
                            <li><span>General Screening – Basic </span><i class="fa fa-check icon-success"></i></li>
                            <li><span>Body Composition Analysis </span><i class="fa fa-check icon-success"></i></li>
                            <li><span>GR Assessment & Scoring </span><i class="fa fa-check icon-success"></i></li>
                        </ul>

                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin btn-lg">Edit</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 pricing-box">
                <div class="wow bounceInUp" data-wow-delay="0.2s">
                    <div class="pricing-content general last">
                        <span><h2>Basic Fit 2 Package</h2></span>
                        <span><h3>Rs.510<span>/ one time</span></h3></span>
                        <ul>
                            <li><span>Anthropometry (BMI, WH Ratio)</span> <i class="fa fa-check icon-success"></i></li>
                            <li><span>Post Examination Review </span><i class="fa fa-check icon-success"></i></li>
                            <li><span>General Screening – Regular </span><i class="fa fa-check icon-success"></i></li>
                            <li><span><del>Health Screening Report</del></span> <i class="fa fa-times icon-danger"></i></li>
                        </ul>

                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin btn-lg">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
                </form>
        </div>

    </div>
</section>
<!-- /Section: pricing -->
<hr>
{% endblock %}